.pointer {
  cursor: pointer;
}
.progressBarVD {
  height: 40px !important;
  font-size: 120% !important;
}
.barVD {
  height: 40px !important;
  font-size: 120% !important;
}
.abso {
  position: absolute;
  font-size: 80%;
}

.NextQuesVD {
  top: 70%;
}
.onAlertVD {
  background-color: orangered !important;
  color: black !important;
  opacity: 1 !important;
}
.TrueAnsVD {
  left: 87%;
  top: 65%;
}
.activeNameVD {
  background-color: aqua;
  color: black;
  opacity: 1 !important;
}
.VDText {
  top: 40%;
  left: 60%;
  background-color: black;
  font-size: 200%;
}
.FalseAnsVD {
  left: 91%;
  top: 65%;
}
.FinishVD {
  top: 110%;
  left: 85%;
}
.Muois {
  top: 80%;
}
.MuoiLams {
  top: 85%;
}
.HaiMuois {
  top: 90%;
}
.timeVD {
  font-size: 60%;
  width: 5%;
  left: 95%;
}
.fiveVD {
  top: 100%;
}
.StarVD {
  left: 5%;
  font-size: 150%;
}
.ChoosePointVD {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: absolute;
  width: 101%;
  height: 101%;
}
.BlackBackground {
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.Ten {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px solid white;
  text-align: center;
  left: 85%;
  top: 5%;
}
.TenText {
  position: relative;
  top: 5%;
  font-size: 450%;
}
/* Resize the background image to cover the entire container */
/* Resize the background image to cover the entire container */
.TwoTen {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px solid white;
  text-align: center;
  left: 85%;
  top: 35%;
}
.TwoText {
  position: relative;
  top: 5%;
  font-size: 450%;
}
/* Resize the background image to cover the entire container */
.ThreeTen {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 2px solid white;
  text-align: center;
  left: 85%;
  top: 65%;
}
.ThreeText {
  position: relative;
  top: 5%;
  font-size: 450%;
}
/* Resize the background image to cover the entire container */
.TickVD {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  top: -95%;
  left: -30%;
  cursor: pointer;
}
.questionCHP {
  width: 100% !important;
}
.WinnerCHP {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: absolute;
  width: 102%;
  height: 100%;
}
.BlackCHP {
  background-color: black;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.WinnerName {
  position: relative;
  font-size: 450%;
  top: 30%;
  text-align: center;
}
