#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 50px;
  text-align: center;
  background-color: #cfd6d9;
  color: black;
}
.videoWarmup {
  width: 100%;
  height: 100%;
  position: absolute;
}
.App {
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}
.score {
  border: 1px white solid;
  text-align: center;
  font-size: 50px;
  position: absolute;
  bottom: 7%;
  left: 80%;
  width: 20%;
  height: 200px;
  font-size: 105px;
}
#progressBar div {
  height: 50px;
  text-align: center;
  font-size: 35px;
  padding: 10px 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #428bca;
  box-sizing: border-box;
}
.questions {
  height: 200px !important;
  text-align: left;
  background-color: black;
  opacity: 0.9;
}
.quess {
  font-size: 35px;
}
.question {
  width: 80%;
  height: 200px;
  background-color: black;
  opacity: 0.9;
}
/* Do not take in account */
html {
  padding-top: 30px;
}
a.solink {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: #f3f5f6;
  color: #cfd6d9;
  border: 1px solid #cfd6d9;
  line-height: 30px;
  text-decoration: none;
  transition: all 0.3s;
  z-index: 999;
}
a.solink::first-letter {
  text-transform: capitalize;
}
a.solink:hover {
  color: #428bca;
}
