.backgroundTT {
  position: absolute;
  left: 20%;
  width: 78%;
  height: 90%;
  opacity: 0.8;
}
.NameListTT {
  z-index: 100;
  position: absolute;
  top: 110%;
  left: 15%;
}
.barTTprogress {
  height: 60px !important;
}
.questionsTT {
  position: absolute;
  border-bottom: 2px white solid;
  top: 27%;
  left: 21%;
  width: 75%;
}
.aroundTT {
  position: relative;

}
.Ques1,
.Ques3,
.video-react-video {
  padding: 0 !important;
  left: 50%;
  top: 8%;
  width: 100% !important;
  height: 100% !important;
}
.Ques4 {
}
.alert {
  padding: 20px;
  background-color: green;
  color: white;
  position: fixed;
  top: 15%;
  right: -60%;
  opacity: 0.8;
  transition: 1s;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.nothing {
  font-size: 150%;
  position: relative;
  margin-top: 10%;
}
.closebtn:hover {
  color: black;
}
.QuesImgTT {
  width:100%;
  border-radius: 50px;
}
.eTT{
}


.ShowTT,
.ShowVCNV {
  width: 100%;
  height: 25vh;
  margin-left: -2vw;
}
.ShowVCNV {
  font-size: 50px;
}
.ShowAnsTT,
.ShowAns {
  background-color: white;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding-top: 2vh;
}
.BackBlack {
  position: fixed;
  width: 100%;
  opacity: 0.8;
  height: 100%;
  z-index: 1000;
}
.eTT{
}
.nameTT {
  color: black;
  border: 2px black solid;
  border-radius:10px;
  padding-left: 10%;
  padding-right: 10%;
}
.AnsTimeTT {
  position: relative;
  left: 2%;
  border: 2px black solid;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  border-radius: 50px;
}
.AnsTT {
  border: 2px black solid;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  border-radius: 50px;
}
.questionTT{
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid black;
  border-radius: 50px;
} 
.her_cen{
  display: flex;
  justify-content: center;
  align-items: center;
}