.backgroundTT {
  position: absolute;
  left: 20%;
  width: 78%;
  height: 90%;
  opacity: 0.8;
}

.ContentTTprogress {
  z-index: 1 !important;
  transform: rotate(-90deg);
  width: 50% !important;
  position: relative;
  left: -35%;
  height: 60px !important;
}
.NameListTT {
  z-index: 100;
  position: absolute;
  top: 110%;
  left: 15%;
}
.barTTprogress {
  height: 60px !important;
}
.questionsTT {
  position: absolute;
  border-bottom: 2px white solid;
  top: 27%;
  left: 21%;
  width: 75%;
}
.aroundTT {
  position: absolute;
  width: 64% !important;
  height: 77% !important;
  top: 31%;
  left: -5%;
}
.Ques1,
.Ques3,
.video-react-video {
  padding: 0 !important;
  left: 50%;
  top: 8%;
  width: 100% !important;
  height: 100% !important;
}
.Ques4 {
}
.alert {
  padding: 20px;
  background-color: green;
  color: white;
  position: fixed;
  top: 15%;
  right: -60%;
  opacity: 0.8;
  transition: 1s;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.nothing {
  font-size: 150%;
  position: relative;
  margin-top: 10%;
}
.closebtn:hover {
  color: black;
}
.QuesImgTT {
  border: 2px white solid;
  position: absolute !important;
  width: 100%;
  top: 7%;
  height: 97% !important;
}
.eTT{
}
/* .eTT23,
.eTT33,
.eTT13,
.eTT03 {
  position: relative;
  top: -25px;
  right: 75%;
  font-size: 300%;
}
.eTT02,
.eTT12,
.eTT22,
.eTT32 {
  position: relative;
  top: -10%;
  left: 30%;
}
.eTT01,
.eTT11,
.eTT21,
.eTT31 {
  position: relative;
  color: orange;
  font-weight: bold;
  left: 5%;
}
.diffTT0 {
  position: absolute;
  top: 10%;
  right: 35%;
  width: 25% !important;
  height: 25% !important;
}
.diffTT1 {
  position: absolute;
  top: 31%;
  right: 35%;
  width: 25% !important;
  height: 25% !important;
}
.diffTT2 {
  position: absolute;
  top: 50%;
  right: 35%;
  width: 25% !important;
  height: 25% !important;
}
.diffTT3 {
  position: absolute;
  top: 72%;
  right: 35%;
  width: 25% !important;
  height: 25% !important;
}
.ShowAnsTT {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  z-index: 1;
  list-style-type: none;
  font-size: 80% !important;
}

*/

.ShowTT,
.ShowVCNV {
  width: 100%;
  height: 25vh;
  margin-left: -2vw;
}
.ShowVCNV {
  font-size: 50px;
}
.ShowAnsTT,
.ShowAns {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding-top: 2vh;
}
.BackBlack {
  position: fixed;
  width: 100%;
  opacity: 0.8;
  height: 100%;
  z-index: 1000;
}
.eTT{
}
.nameTT {
  color: black;
  border: 2px black solid;
  border-radius:10px;
  padding-left: 10%;
  padding-right: 10%;
}
.AnsTimeTT {
  position: relative;
  left: 5%;
  border: 2px white solid;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  border-radius: 50px;
}
.AnsTT {
  border: 2px black solid;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  border-radius: 50px;
}
