.pointer {
  cursor: pointer;
}
h3{
  font-family: 'Times New Roman', Times, serif;
}
.progressBarVD {
  height: 40px !important;
  font-size: 120% !important;
}
.AnimationStart {
  top: 80%;
  transition: 1.5s;
}
.barVD {
  height: 40px !important;
  font-size: 120% !important;
}
.TongKetButtonVD {
  left: 10% !important;
}
.abso {
  position: absolute;
  font-size: 80%;
}

.NextQuesVD {
  top: 70%;
}
.onAlertVD {
  background-color: orangered;
  color: black;
  opacity: 1;
}
.TrueAnsVD {
  left: 87%;
  top: 65%;
}
.activeNameVD {
  background-color: #428bca;
  color: black;
  opacity: 1 !important;
}
.VDText {
  position: fixed;
  border-radius: 50px;
  border:1px solid black;
  padding-left: 100px;
  padding-right: 100px;
  top: 80%;
  left: 40%;
  color: black;
  font-size: 250%;
}
.FalseAnsVD {
  left: 91%;
  top: 65%;
}
.FinishVD {
  top: 5%;
  left: 85%;
  font-size: 30px;
}
.Muois {
  top: 80%;
}
.MuoiLams {
  top: 85%;
}
.HaiMuois {
  top: 90%;
}
.timeVD {
  font-size: 15px;
  width: 5%;
  left: 95%;
}
.fiveVD {
  top: 95%;
}
.StarVD {
  left: 5%;
  top: 60%;
  font-size: 200%;
}
.ChoosePointVD {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: absolute;
  width: 101%;
  height: 101%;
}
.BlackBackground {
  background-color: white;
  width: 100%;
  height: 100%;
}



.TickVD {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  top: -150px;
  left: -30%;
  cursor: pointer;
}
.TenText {
  position: relative;
  top: 5%;
  font-size: 100px;
  color: black;
}
.TwoText {
  position: relative;
  top: 5%;
  font-size: 100px;
  color: black;
}

.ThreeText {
  position: relative;
  top: 5%;
  font-size: 100px;
  color: black;
}
.Ten {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 1px solid black;
  text-align: center;
  left: 85%;
  top: 5%;
}
.TwoTen {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 1px solid black;
  text-align: center;
  left: 85%;
  top: 35%;
}

.ThreeTen {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 1px solid black;
  text-align: center;
  left: 85%;
  top: 65%;
}
.namesVD{
  cursor: pointer;
}
.namesVD:hover{
  background-color: turquoise;
}