.black-circle {
  font-size: 30px;
  color: black;
  list-style-type: none;
  display: inline;
}
body {
  transition: 3s;
}
.smallVCNV {
  font-size: 80%;
}
/* .ActiveName {
  background-color: orangered;
  color: black;
} */
.nothingVCNV {
  display: block;
}
.SubmitAdminVCNV {
}
.ShowListVCNV {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#showAnswerVCNV {
  display: block;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  position: relative;
  font-size: 25px;
  top: 20px;
}
.ShowAns {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  list-style-type: none;
  font-size: 95%;
}
.Ans {
  position: relative;
  top: 25%;
  right: 1%;
}
.backgroundVCNV {
  width: 100%;
  height: 102%;
  position: absolute;
  left: 0;
}
.nameVCNV {
  color: yellow;
}
.ansVCNV {
}
.diff0 {
  position: absolute;
  top: 8%;
  right: 52%;
}
.e02,
.e12,
.e22,
.e32 {
  position: relative;
  top: 19px;
}
.e01,
.e11,
.e21,
.e31 {
  position: relative;
  color: orange;
  font-weight: bold;
}
.diff1 {
  position: absolute;
  top: 29%;
  right: 33%;
}
.diff2 {
  position: absolute;
  top: 50%;
  right: 54%;
}
.diff3 {
  position: absolute;
  top: 72%;
  right: 32%;
}
.VCNVimg {
  position: absolute;
  width: 28%;
  height: 36%;
  top: 16%;
  left: 67%;
}
.around {

}
.CircleActive {
  transition: 0.4s;
  background-color: #428bca;
  border-radius: 50px;
  color: black;
}
.answerVCNV {
  font-size: 25px;
}
.BestAnswer {
  font-size: 40px;
  position: relative;
  top: 30px;
}
.VCNVimgContent {
  position: relative;
  height: 300px;
  width: 100%;
  top: 0;
  left: 0;
}
.pie {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
  background-color: gainsboro;
  border:1px solid gray;
  padding-top: 10%;
  font-size:30px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pie1 {
  padding-right: 15%;
}
.pie2 {
   top:50%;
   padding-right: 15%;
}
.pie3 {
  padding-left: 15%;
  top: 50%;
  left: 50%;
}
.pie4 {
  padding-left: 15%;
left: 50%;
}
.pieCen {
  left: 25%;
  top:25%;
}
.buttonVCNV {
  display: block;
  margin-bottom: 80%;
  font-size: 125%;
}
.ListFasterVCNV {
  opacity: 1 !important;
}
.FasterVCNV {
  background-color: gainsboro;
  color: black;
  border: 1px solid black;
  font-size: 20px;
}
.sttVCNV {
  position: absolute;
  left: 0% !important; 
  top: 25%;
}
.UserCircle {
  font-size: 175% !important;
}
.circle {
  position: relative;
 color: black;
}
.quessVCNV {
  font-size: 25px;
}
.quessVCNV {
  color: black;
  border: 1px black solid;
  width: 100%;
  height: 100px;
  background-color: white !important;

  opacity: 0.9;
}
