.black-circle {
  font-size: 200%;
  color: white;
  list-style-type: none;
  display: inline;
}
body {
  transition: 3s;
}
.smallVCNV {
  font-size: 80%;
}
/* .ActiveName {
  background-color: orangered;
  color: black;
} */
.nothingVCNV {
  display: block;
}
.SubmitAdminVCNV {
}
.ShowListVCNV {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#showAnswerVCNV {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0.9;
  text-align: center;
  position: relative;
  font-size: 25px;
  top: 20px;
}
.ShowAns {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  list-style-type: none;
  font-size: 95%;
}
.Ans {
  position: relative;
  top: 25%;
  right: 1%;
}
.backgroundVCNV {
  width: 100%;
  height: 102%;
  position: absolute;
  left: 0;
}
.nameVCNV {
  color: yellow;
}
.ansVCNV {
}
.diff0 {
  position: absolute;
  top: 8%;
  right: 52%;
}
.e02,
.e12,
.e22,
.e32 {
  position: relative;
  top: 19px;
}
.e01,
.e11,
.e21,
.e31 {
  position: relative;
  color: orange;
  font-weight: bold;
}
.diff1 {
  position: absolute;
  top: 29%;
  right: 33%;
}
.diff2 {
  position: absolute;
  top: 50%;
  right: 54%;
}
.diff3 {
  position: absolute;
  top: 72%;
  right: 32%;
}
.VCNVimg {
  position: absolute;
  width: 28%;
  height: 36%;
  top: 16%;
  left: 67%;
}
.around {
  border-bottom: 1px white solid;
  position: relative;
  width: 100%;
  left: -5%;
  text-align: center;
  transition: 1s;
}
.CircleActive {
  background-color: aqua;
}
.answerVCNV {
  font-size: 25px;
}
.BestAnswer {
  font-size: 40px;
  position: relative;
  top: 30px;
}
.VCNVimgContent {
  position: absolute;
  width: 40%;
  height: 46%;
  top: 26%;
  left: 55%;
}
.pie {
  position: absolute;
  width: 20%;
  height: 23%;
}
.pie1 {
  top: 25%;
  right: 25%;
}
.pie2 {
  top: 48%;
  right: 25%;
  height: 25%;
}
.pie3 {
  height: 25%;
  top: 48%;
  right: 5%;
}
.pie4 {
  top: 25%;
  right: 5%;
}
.pieCen {
  right: 14%;
  height: 26%;
  width: 22%;
  top: 35%;
}
.buttonVCNV {
  display: block;
  margin-bottom: 80%;
  font-size: 125%;
}
#NameList {
  opacity: 1 !important;
}
.ListFasterVCNV {
  opacity: 1 !important;
}
.FasterVCNV {
  background-color: rgb(255, 72, 0);
  color: black;
  border: 5px solid black;
}
.sttVCNV {
  position: absolute;
  left: 0% !important;
  top: 25%;
}
.UserCircle {
  font-size: 175% !important;
}
.circle {
  position: relative;
  left: -22%;
  height: 50%;
  width: 54% !important;
  display: inline;
  font-size: 115%;
  background-color: black;
  opacity: 0.9;
  border: 2px white solid;
  text-align: center;
}
.questionsVCNV {
  height: 100px !important;
  text-align: left;
  background-color: black;
  opacity: 0.9;
}
.quessVCNV {
  font-size: 25px;
}
.questionVCNV {
  border: 1px white solid;
  width: 100%;
  height: 100px;
  background-color: black;
  opacity: 0.9;
}
