.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white !important;
}
*{
}
body,
html {
  width: 100vw;
  height: 100vh;
  padding-top: 0 !important;
}
.ques{
  color: black;
  background-color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.TongKetBar {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: ghostwhite;
  text-align: center;
}
.EndingUser {
  position: relative;
  transition: 2s;
  font-size: 50px;
  width: 98%;
  margin-left: 1%;
  height: 20vh;
  border-radius: 100px;
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  left: -120%;
}
.AnimationEndingUser {
  left: -1%;
}
li {
  list-style: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  width: 101%;
}

.active {
  background-color: gainsboro;
}
#NameList{
}
#NameList,
.names {
  border: 1px white solid;
}
.names {
  padding-right: 10px;
  padding-left: 10px;
  transition: 0.3s;
}
.CrName {
  background-color: #428bca;
  color: black;
}
::-webkit-scrollbar {
  width: 1px;
  display: none;
}
.question {
  border: 1px white solid;
}

.App-link {
  color: #61dafb;
}
.current {
  background-color: black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.TongKetButton {
  position: fixed;
  top: 5%;
  left: 70%;
  font-size: 200%;
}
